Source: cl-command-line-arguments
Section: lisp
Priority: optional
Maintainer: Dimitri Fontaine <dim@tapoueh.org>
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: dh-lisp
Standards-Version: 3.9.4
Homepage: http://common-lisp.net/project/qitab/
Vcs-Git: git://common-lisp.net/projects/qitab/command-line-arguments.git
Vcs-Browser: http://common-lisp.net/gitweb?p=projects/qitab/command-line-arguments.git

Package: cl-command-line-arguments
Architecture: all
Depends: ${misc:Depends}
Description: get command line arguments in Common Lisp
 trivial interface for getting and parsing command-line-arguments
