#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

PKGVERS = $(shell dpkg-parsechangelog | awk -F '[:-]' '/^Version:/ { print substr($$2, 2) }')
EXCLUDE = --exclude-vcs --exclude=./debian --exclude=build --exclude=.vagrant

# buildd provides a build environment where $HOME is not writable, but the
# CL compilers here will need to fill-in a per-user cache
export HOME = $(CURDIR)/debian/home

orig: clean
	cd .. && tar czf ql-to-deb_$(PKGVERS).orig.tar.gz $(EXCLUDE) ql-to-deb

override_dh_auto_build:
	make docs
	mkdir -p build/bin
	mkdir -p $(HOME)
	buildapp --logfile /tmp/ql-to-deb-build.log         \
                 --asdf-path .                              \
                 --asdf-tree /usr/share/common-lisp/systems \
                 --load-system asdf               	    \
                 --load-system split-sequence         	    \
                 --load-system py-configparser         	    \
                 --load src/package.lisp                    \
                 --load debian/settings.lisp                \
                 --load-system ql-to-deb               	    \
                 --entry ql-to-deb:main                     \
                 --dynamic-space-size 512                   \
                 --compress-core                    	    \
                 --output build/bin/ql-to-deb

override_dh_auto_test:
	# do nothing

override_dh_strip:
	# do nothing

%:
	dh $@ 
