Source: cl-log
Section: lisp
Priority: optional
Maintainer: Dimitri Fontaine <dim@tapoueh.org>
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: dh-lisp
Standards-Version: 3.9.4
Homepage: http://weitz.de/drakma/
Vcs-Git: https://github.com/edicl/drakma.git
Vcs-Browser: https://github.com/edicl/drakma

Package: cl-log
Architecture: all
Depends: ${misc:Depends}
Description: a general purpose Common Lisp logging utility
 CL-LOG is a general purpose logging utility, loosely modelled in some
 respects after Gary King's Log5.